<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>1st Express Dynamci</title>
</head>
<body>
    <div class="header">

        <li><a href="/tictac">Tic Tac Toe</a></li>
        <li>AboutUs</li>
        <li>ContactUs</li>
        <li>Signin / Login</li>
        <li><a href="*">404 page</a></li>

</div>
        {{> header}}
    <h1>This is 1st Dynamic page using expressjs</h1>
    <h2 >Name is <span style="color:green;">{{name}}</span></h2>
</body>

{{!-- <style>
    .header{
    display: flex;
    justify-content: space-around;
}
</style> --}}
</html>