.header{
    display: flex;
    justify-content: space-around;
    background-color: blue;
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
    color: white;
}
li{
    list-style-type: none;
    padding: 10px;
}
body{
    margin: 0px;
    padding: 0px;
}

.header a{
    text-decoration: none;
    color: white;
}

.header *{
    border: 0px solid  red;
}
